@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    color: white;
}
.container{
    background: #02304c;
    text-align: center;
}
.container h1{
    font-weight: 500;
    padding: 0.8rem;
    color: #E7E7DE;
}
 h1 i {
    font-size: 1.9rem;
    font-weight: 500;
    padding: 4px;
    

}
.editor{
    background: #031f31;
    text-align: start;
    display: flex;
   
     padding: 1rem;
}
.left,.right{
    flex-basis: 50%;
    padding: 10px;
}
 label{
    display: flex;
    align-items: center;
    font-size: 17px;
    
}

label i{
    padding-right: 3px;
    padding-left: 2px;
   
}

textarea{
    width: 100%;
    height: 180px;
    background: rgba(15, 15, 15, 0.767);
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 6px;
    
}
iframe{
    width: 100%;
    height: 95%;
    background: white;
    outline: none;
    border: none;
    border-radius: 5px;
    color: black;
}